version: '3.8'

services:
  db:
    image: postgres:16
    restart: always
    container_name: pet_project_db
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
